@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
:root{
    --background: #000000;
    --red:  #c20000;
    --blue: #001f70;
    --gradient: linear-gradient(180deg, #000000 0%, rgba(83, 83, 83, 0.577381) 25%, rgba(196, 196, 196, 0) 87.5%);

    --font: 'Titillium Web', sans-serif;
}


*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}


body{
    font-family: var(--font);
    font-size: 16px;
    background-color: var(--background);

}
img{
    width: 100%;
}
.topo{
    width: 100%;
    height: 5em;
    /* background-color: azure; */
}
.content{
    width: 80%;
    height: 100%;
    max-width: 75em;
    margin: auto;
   /* background-color: burlywood; */
}
.flex-center-bt{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color:#fff
}
.topo img{
    max-width: 21.18em;

}
.menu{
    width: 100%;
    max-width: 50em;
}
.menu ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu a{
    color:#fff;
    text-decoration: none;
    font-size: 1.5em;
    padding: 0.9em 0.5em;
    text-transform: uppercase;
}
.menu a:hover{
    background-color: var(--red);
}
#menu-bars{
    display: none;
}

.banner{
    width: 100%;
    position: relative;
}
.banner-position{
    width: 100%;
    height: 37.5em;
    /* background-color: rgba(0, 0, 255, 0.377); */
    position: absolute;
    top: 0;
}
.banner-content{
    width: 80%;
    height: 100%;
    /* background-color: rgba(222, 184, 135, 0.356); */
    margin: auto;
    display: flex;
    justify-content: flex-end;
}
.banner-text{
    width: 50%;
    height: 100%;
    /* background-color: chartreuse; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}
.banner-text h1{
    font-size: 5.62em;
}
.banner-text p{
    font-size: 1.87em;
}
.banner-text a{
    font-size: 1.87em;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    background-color: var(--red);
    padding: 0.5em 1em;
    border-radius: 0.5em;
    margin-top: 1em;
}

.jogos{
    width: 100%;
    height: 7.5em;
    /* background-color: chartreuse; */
}
.jogos ul{
    list-style-type: none;
    width: 100%;
}
.jogos ul a:hover img{
    transition: 0.5s;
    transform: scale(1.1);

}
.about{
    width: 100%;
    height: 31.25em;
    background-color: var(--blue);
    position: relative;
    
}

.about-angulation{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.angulation{
    width: 100%;
    height: 24em;
    background-color: #000;
    transform: skewY(-3deg);
}

.about-position{
    width: 100%;
    height: 100%;
   /* background-color: red;*/
    position: absolute;
    top:0;

}

.about-text{
    width: 50%;
    color: #fff;
    text-align: justify;
}

.about-text h2{
    font-size: 2.18em;
    margin-bottom: 0.5em;
}

.about-text p{
    font-size: 1.125em;
    margin-bottom: 1em;
}

.about-position img{
    max-width: 31.87em;
}

.jogos-aovivo{
    font-family: 'Roboto' , sans-serif;
    font-weight: bold;
    font-size: 1.875;

}

.partida{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.partida img{
    max-width: 3.375em;
}

.time1, .time2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 400px;
}

.time1 img{
    margin-left: 0.5em;

}

.time2 {
    margin-right: 0.5em;
}

.jogos-aovivo, .jogos-embreve{
    font-family: 'Roboto',sans-serif;
    font-weight: bold;
    font-size: 1.875em; /*30px*/
    /*border-right: solid 1px #fff*/
}

.jogos-aovivo::after{
    content: '';
    height: 2.666em;
    border:solid 1px #fff;
    margin: 0 1em;
}

.partida{
    width: 9.5em;
    /*background-color: red; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 1em;   
}

.partida img{
     max-width: 1.8em; /*54px*/
}

.time1,.time2{
    display: flex;
}

.s_noticia{
    width: 100%;
    height: 880px;
    background-color: #1b1b1b;
}
.secao_noticia h2{
    color: #fff;
    font-size: 35px;
    font-family: 'Roboto',sans-serif;
    text-align: left;
    margin-left: 680px;
    margin-top: 12px;
    
}

.wrap{
    flex-wrap: wrap  
    
}

.container{
    max-width: 900px;
    margin:0 661px ;
    justify-content: space-between;
    display: flex;
    margin-top: 10px;

    
   
}

.noticias{
    background:var(--gradient);
    box-shadow: 1px 1px 20px 4px #000000;
    width: 239px;
    height: 364px;
    margin: 15px;
    flex: 0;
    
    

}

.noticias img{
    width: 237px;
    height: 159px;
}

.noticias h2{
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    margin-left: 15px ;
    margin-top: 1px;
}

.noticias p{
    color: #fff;
    text-align: left;
    font-size: 16px;
    margin: 14px;

}

.prox{
    width: 237px;
    height: 751px;
    padding-right: 20px;
    margin-right: 680px;
    float: right;
    background: var(--gradient);
    display: flex;
    box-shadow: 1px 1px 20px 4px #000000;
    margin-top: 21px;
}

.partida1{
    width: 7.5em;
    /*background-color: red; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 1em;   
    margin-top: 30px;

}

.Primeiro_confronto img{
    width: 40px;
    height: 40px;
}

.proximas_partidas{
    font-weight: bold;
    font-size: 20px;
    color:#fff;
    margin-right: 15px;
   /* background-color: #fff;*/
    margin-top: 25px;
    
}

.proximas_partidas h3{
    font-size: 18px;
}




.time11, .time22{
    display: flex;
    justify-content: space-between;

    
}

.time11 img{
    margin-left: 5px;
    width: 40px;

}

.time22 img{
    margin-right: 5px;
    width: 40px;

}

.time22 {
    margin-right: 0.5em;
}

.time11 p{
    margin-left: -50px;
    
}

.time22 p{
    margin-right: -50px;
}

.proximas_partidas h3{
    text-align: center;
    font-size: 16px;
    margin-top: 15px;
}

.rodape{
    width: 100%;
    height: 250px;
    background-color:var (var(--background));
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
}

.linkuteis{
    margin-left: 680px;
    margin-top: 60px;
    color: #fff;
    float: left;
    
}
.linkuteis a{
    text-decoration: none; 
    color: #fff;
    font-weight: lighter;
}
    

.paginarp{
    margin-left: 60px;
    margin-top: 60px;
    color: #fff;
    float: left;
    
}
.paginarp a{
    text-decoration: none; 
    color: #fff;
    font-weight: lighter;
}
.bcadastre_se{
    width: 500px;
    text-align: right;
  /*  background-color: chartreuse; */
    flex-direction: column;
    float: left;
    margin-top: 80px;
    margin-left: 430px;
    
    
    
}

.bcadastre_se h3{
    color: #fff;
    font-size: 18px;
    font-weight: lighter;
    font-family: var(--font) ;
}


.bcadastre_se p{
    float: left;
    color: #fff;
    font-size: 16px;
    margin-top: 10px;
    margin-left: 175px;
    font-weight: lighter;

}

.bcadastre_se a{
    width: 150px;
    float: left;
    text-align: center;
    font-size: 15px;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    background-color: var(--red);
    padding: 0.4em 1em;
    border-radius: 0.5em;
    margin-top: 5px;
    margin-left: 350px;
}

input{
    background-color: rgba(255, 255, 255, 0.795);
    float: left;
    padding: 0.1em 1em;
    margin-top: -35px;
    margin-left: 110px;
}
.email{
    width: 230px;
    height: 36px;
    border-radius: 10px;
    font-family: var(--font);
    font-size: 1em;
    color: rgba(68, 67, 67, 0.226);
    
}

@media screen and (max-width: 74.93em){

}

@media screen and (max-width: 17.93em){

}

@media screen and (max-width: 35.93em){

}